.managePack{
    margin: 1rem;
}
.searchPack{
    display: flex;
    justify-content: space-around;
}
.searchPack div{
    margin: 0 1rem;
}
.searchDate{
    display: inline;
}
.searchDate form{
    position: relative;
}
.searchDate svg{
    position: absolute;
    top: 25%;
    left: 80%;
    color: rgb(70, 70, 70);
}
.searchDate input{
    background-color: #e0e1e6;
    padding: 0.5rem 2.8rem 0.5rem 0.5rem;
    width: 12rem;
}
.searchName form {
    position: relative;
}
.searchName svg{
    top: 25%;
    left: 2%;
    position: absolute;
}
.searchName input{
    padding: 0.5rem 0.5rem 0.5rem 2.6rem;
    width: 18rem;
}
.manageTable{
    margin-top: 2rem;
}
.manageDes{
    background-color: #e0e1e6;
    width: 100%;
}
.manageDes th{
    font-size: 1rem;
    font-weight: 500;
    width: 12%;
    line-height: 4rem;
}
.manageInfo{
    width: 100%;

}
.manageInfo th{
    font-size: 0.8rem;
    width: 12%;
    height: 3rem;
    font-weight: 400;
    border-bottom: 0.1rem solid rgba(132, 132, 132, 0.438);

}
.manageInfo svg{
    cursor: pointer;
    margin: 0 0.2rem;
    font-size: 1.2rem;
}
.packExpired p{
    margin: 0 1rem;
    line-height: 2rem;
    background-color: #e0e1e6;
    border-radius: 0.2rem;
}
.packActive p{
    margin: 0 1rem;
    line-height: 2rem;
    color: #267cc8;
    background-color: #99c7f0;
    border-radius: 0.2rem;
}
